<h2>Login to the Goals Board</h2>
<%= render 'shared/errors' %>

<form action="<%= session_url %>" method="POST">
  <%= auth_token %>

  <div class="mt">
    <label for="user_email">Email</label><br>
    <input class="mt" type="text" name="user[email]" id="user_email">
  </div>

  <div class="mt">
    <label class="mt" for="user_password">Password</label><br>
    <input class="mt" type="password" name="user[password]" id="user_password">
  </div>

  <input class="btn mt font-em" type="submit" value="Login">
</form>