<h2>New goal</h2>
<%= render 'shared/errors' %>

<form class="mb" action="<%= goals_url %>" method="POST">
  <%= auth_token %>
    <label for="goal_title">Title</label><br>
    <input class="mt" type="text" name="goal[title]" id="goal_title" placeholder="Your title...">
    <div class="mt">
      <label for="goal_description">Description</label><br>
      <textarea class="mt" id="goal_description" name="goal[description]" placeholder="Your goal description here..."></textarea>
    </div>
    <div class="mt">
      <input type="radio" id="is_public" name="goal[is_public]" value="true">
      <label for="is_public">Public</label>
      <input type="radio" id="is_private" name="goal[is_public]" value="false" checked>
      <label for="is_private">Private</label>
    </div>

  <input class="btn mt" type="submit" value="Add Goal">
</form>
