<div class="masthead">
  <div class="language-nav">
    <ul>
      <li><a>CSS</a></li>
      <li><a class="masthead-link"><span>HTML</span></a></li>
      <li><a class="masthead-link"><span>Javascript</span></a></li>
      <li><a class="masthead-link"><span>Ruby</span></a></li>
    </ul>
  </div>
  <img class="logo" src="assets/AA_Times_Logo.png">
  <ul class="masthead-links">
    <li><a class="time">Tuesday, October 18, 2016</a></li>
    <li><a class="masthead-link"><i class="fas fa-newspaper"></i><span>Today’s Paper</span></a></li>
    <li><a class="masthead-link"><i class="fas fa-video"></i><span>Video</span></a></li>
    <li><a>77°F</a></li>
    <li><a><strong>AAO +100%</strong></a></li>
  </ul>
</div>