<div class="box center padding-top">
  <h2 class="purple">Create a new user</h2>
  <%= render 'shared/errors' %>
  <form class="form-width padding-top flex columns" action="<%= users_url %>" method="POST">
    <%= auth_token %>
    <div class="flex space-between margin-bottom">
      <label for="user_email">Email</label>
      <input type="text" name="user[email]" id="user_email">
    </div>
    <div class="flex space-between margin-bottom">
      <label for="user_password">Password</label>
      <input type="password" name="user[password]" id="user_password">
    </div>
    <input class="menu-link" type="submit" value="Signup">
  </form>
</div>