<div class="center padding-top box">
  <h2>Welcome to the music app</h2>
  <h2 class="padding-top purple"><%= current_user.email %></h2>
  <a class="menu-link margin-top inline-block back-btn" href="<%= bands_url %>">Go to Bands</a>
</div>
