<h2 class="big-title">Create a new user</h2>

<div class="form-box">
  <%= render 'shared/errors' %>
  <form action="<%= users_url %>" method="POST">
    <%= auth_token %>
    <div class="flex-column">
      <label for="user_email">Email</label>
      <input type="text" name="user[email]" id="user_email">
    </div>
    <div class="flex-column">
      <label for="user_password">Password</label>
      <input type="password" name="user[password]" id="user_password">
    </div>
    <input class="button" type="submit" value="Signup">
  </form>
</div>