<h2 class="big-title">Showing <%= current_user.email %></h2>

<div class="col col-1-3">
  <ul class="subs">
    <h5 class="small-title">You are a moderator of: </h5>
    <% @moderated_subs.each do |sub| %>
    <li><a href="<%= sub_url(sub.id) %>"><%= sub.title %></li>
    <% end %>
  </ul>
</div>