<h2 class="big-title">New sub</h2>

<div class="form-box">
  <form action="<%= subs_url %>" method="POST">
    <%= auth_token %>
    <div class="flex-column">
      <label for="sub_title">Title</label>
      <input type="text" name="sub[title]" id="sub_title">
    </div>
   <div class="flex-column">
      <label for="sub_description">Description</label>
      <textarea name="sub[description]" id="sub_description"></textarea>
    </div>
    <input class="button" type="submit" value="Create Sub-forum">
  </form>
</div>