<%= render "header" %>
<div class="center">
  <div style="margin:50px;">
    <h1>Editing <%= @cat.name %></h1>
    <a class="btn" href=<%=cats_url%>>Back to cats</a>
  </div>
  <%= render "form", action: :edit, cat: @cat %>
</div>