/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h1, h2, h3, h4, h5, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  font-family: 'Raleway';
}

#root {
  font-size:1.1em;
}

.errors {
  list-style: none;
  padding:15px;
}

.errors li {
  color:red;
}

.todo-container {
  padding:10px;
  padding-bottom:100px;
}

body {
  background-color:white;
  color:#222;
}

.todo-detail-body {
  padding:0 0 15px 0;
}

nav {
  color:#2b2b2b;
  width: 100%;
  padding:20px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
}

nav h1 {
  margin-right:15px;
}

.todo-item {
  background-color: white;
  padding:20px;
  margin-bottom: 5px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 15px lightgray;
}

.todo-item button {
  margin-left:5px;
}

.input-group {
  margin-bottom:10px;
}

label {
  font-weight: bold;
}

input {
  margin-top:3px;
  width:100%;
  border-radius: 10px;
  padding:15px 30px 15px 30px;
  background-color:white;
  box-sizing: border-box;
}

button {
  padding:10px 30px 10px 30px;
  background-color:white;
  color:black;
  margin-top:5px;
  border:1px solid lightgray;
  border-radius: 10px;
  cursor: pointer;
}


button.remove {
  background-color: red;
  color:white;
}

button:hover {
  opacity: 0.9;
}

.todo-list {
  color:black;
  list-style: none;
}

.todo-form{
  position: fixed;
  left:5px;
  bottom: 5px;
  z-index: 2;
  background-color: white;
  width: calc(100% - 10px);
  margin-right: 15px;
  border-radius: 10px;
}

.clear-fix:after {
  content: "";
  clear:both;
  display: block;
}
.todo-form h3 {
  text-align: center;
}

.button-group {
  float:right;
}

.todo-number {
  float:right;
  font-size:0.8em;
  color:gray;
}

input[type="submit"] {
  cursor:pointer;
}

.signup-notice {
  padding-left:15px;
}

input, textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
}

input:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

.todo-detail-view {
  width:auto;
  background-color:white;
  padding:20px;
  margin-top:-15px;
  margin-bottom:5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.todo-item-open-details {
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
}

.todo-item-titles {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.step-list-view ul {
  list-style: none;
}
.step-list-view {
  padding-bottom:5px;
}
.step-list-view h4 {
  padding:10px 0 10px 0;
}
.todo-list-item {
  border-radius: 10px;
  margin-bottom:15px;
}
.todo-list-item:hover {
  box-shadow: 0px 0px 15px lightgray;
  border-radius: 10px;
}
.step-list-item, .flex-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step-list-item button {
  margin-left:5px;
}

.step-list-item {
  padding:0px 0 5px 0;
}

.dot {
  height: 40px;
  width: 40px;
  background-color: #dfdfdf;
  border:1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  margin-right:10px;
  color:#444;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 3px #888;
  cursor: pointer;
}

.dot.check-dot.dot-done:after {
  content: '✔'
}

.dot.check-dot:hover:before {
  content: ''
}

.step-list-text {
  display: inline-block;
}

.step-list-done {
  cursor: pointer;
}

.showingForm {
  position: fixed;
  bottom:0;
  right:0;
  width:100%;
  background-color:white;
  border-top:1px solid gray;
  font-size:1.5em;
  z-index:1;
  cursor:pointer;
  text-align: center;
  padding:15px;
}

.showingForm:hover {
  color:#444;
}

.todo-form-inside {
  box-shadow: 0px 0px 15px lightgray;
  padding:50px 50px 75px 50px;
  border-radius: 10px;
}

.step-form {
  padding-top:15px;
}

.login-signup-header{
  padding:15px;
  text-align: center;
  font-size:1.5em;
}

.login-signup-form {
  padding:15px;
}
.login-signup-form div {
  margin-bottom:10px;
}

.logout {
  position: fixed;
  bottom: 70px;
  right: 5px;
  width:auto;
}

@media screen and (min-width:1000px) {
  body, .todo-form-inside{
    max-width:960px;
    margin:0 auto;
  }
}