.section-nav {
	display: flex;
	flex-direction: row;
  align-items: center;
  justify-content: center;
	border-bottom: 1px solid $light-gray;
	position: relative;
}

.section-nav li {
  padding:12px;
}

.section-nav a {
  cursor: pointer;
}

.section-nav a:hover {
  text-decoration: underline;
}