/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  font-family: 'Raleway', sans-serif;
  background-color:black;
}
input, select{
  background-color:white;
  color:#2c2c2c;
  padding:10px;
  width:70%;
}
input[type=submit]{
  width:100%;
  cursor:pointer;
}
h1, h2, header{
  font-family: 'Bungee Inline', cursive;
  color: #FDDB61;
}
.bands li, .albumns li{
  margin-bottom:10px;
  padding:10px;
  background-color:gray;
  color: black;
  width:50%;
  margin:0 auto;
  margin-bottom:10px;
  display:inline-block;
}
.bands li:hover, .albumns li:hover{
  background-color:white;
}
.align-center{
  align-items: center;
}
input.delete-band[type=submit]{
  width:200px;
}
.white{
  color:white;
}
h1{
  font-size:4em;
  display: contents;
}
.margin-bottom{
  margin-bottom: 60px;
}
.inline-block{
  display:inline-block;
}
h2{
  font-size:2em;
}
.flex{
  display:flex;
}
.columns{
  flex-direction: column;
}
.margin-bottom{
  margin-bottom:20px;
}
.form-width{
  width:400px;
  margin:0 auto;
}
form label{
  color:white;
}
form, form div{
  text-align:left;
  display:contents;
  background-color:#2c2c2c;
}
ul{
  list-style: none;
}
.box, label, h2, nav, .box ul{
  background-color:#2c2c2c;
}
input[type=submit]{
  text-align:center;
  font-size:1.2em;
}
.space-between{
  justify-content: space-between;
}
.justify-center{
  justify-content: center;
}
.menu-link{
  border-radius:5px;
  padding:10px;
  color:#2c2c2c;
  background-color:#FDDB61;
  font-size:1.2em;
}
.margins{
  margin-right:10px;
}
.menu-link:hover{
  opacity:0.9;
}
nav{
  width:100%;
}
.container{
  width:960px;
  margin:0 auto;
  border-right:3px solid gray;
  border-left:3px solid gray;
  height:100vh;
  background-color:#2c2c2c;
  z-index: 1;
  padding-bottom:100px;
}
textarea{
  background-color:White;
  color:black;
  margin-bottom:30px;
  height:150px;
  padding:10px;
}
.header{
  text-align: center;
  background-color:#2c2c2c;
}
.logout, input.logout[type=submit]{
  width:100px;
}
.purple{
  color:#8c5eff;
}
.red{
  color:#fc0f2f;
}
.bg-red{
  background-color:#fc0f2f;
  color:white;
}
.bg-purple{
  background-color: #8c5eff;
}
.back-btn{
  display:block;width:200px;margin:0 auto;margin-top:30px;
}
.center{
  margin:0 auto;
  text-align: center;
}
.padding-top{
  padding-top:30px;
}
.sm-padding-top{
  padding-top:10px;
}
@media only screen and (max-width: 960px) {
  .container{
    max-width:100%;
  }
}