<h1>My goals for: <%= current_user.email %></h1>
<ul>
  <% @goals.each do |goal| %>
    <a href="<%= goal_url(goal.id) %>"><li><%= goal.is_public ? "Public" : "Private" %> | <%= goal.title %></li></a>
  <% end %>
</ul>