/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "variables";

 html {
   height: 100%;
 }

 body {
   font-family: sans-serif;
   background: white;
   color: $grey;
   font-size: 12px;
   height: 100%;
 }

 header {
   display: flex;
   justify-content: center;
   background-color: $red;
   padding: 10px;

   img {
     width: 43px;
     height: 43px;
   }
 }

 nav {
   width: 900px;
   background-color: $red;
   padding: 6px;
   display: flex;
   justify-content: space-between;
   align-items: center;

   ul {
     display: flex;
     justify-content: flex-end;

     li {
       a {
         background-color: white;
         border-radius: 4px;
         color: $grey;
         font-weight: 700;
         display: block;
         padding: 15px;
         text-decoration: none;
         text-transform: uppercase;
         cursor: pointer;
         z-index: 1;
         position: relative;
         -webkit-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
         -moz-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
         -ms-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
         -o-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
         transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;

         &:hover {
           color: $light-grey;
           -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
           -moz-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
           box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
         }

         &:active {
           background-color: $light-grey;
           color: white;
           -webkit-box-shadow: none;
           -moz-box-shadow: none;
           box-shadow: none;
         }
       }
     }
   }
 }


 h2 {
   font-size: 32px;
 }

 h3 {
   font-size: 24px;
   text-align: center;
   color: $black;
 }

.pokemon-list-item {
  list-style: none;
  background-color:#f7f7f7;
  padding:10px 10px 10px 10px;
  margin-bottom:5px;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    width:50px;
  }
}

.pokedex {
  display:flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

  .pokedex-list {
    overflow-y: auto;
    width:100px;
    height: calc(100vh - 75px);
  }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.pokemon-detail-container {
  width: 100%;
  background: #ffefba; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffefba, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffefba, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pokemon-detail {
  padding:50px;

  .name-image {
    display:flex;
    flex-direction: column;
    justify-content: center;
  }

  img {
    width:100%;
  }
  h2 {
    text-align: center;
    color:black;
  }

  .item-link {
    display:block;
    font-weight: 700;
    font-size:1.1em;
  }
  .item-link.active {
    color:orange;
  }

  .pokemon-attributes {
    padding:10px 0 10px 0;
  }

  .pokemon-links {
    margin-top:10px;
    border:1px solid gray;
    padding:10px;
    border-radius: 10px;
    background-color:gray;
    color:white;

    a {
      padding:5px;
      display: block;
    }
  }
}

.pokedex-intro-view {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:3em;
  background: #ffefba; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffefba, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffefba, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  div {
    padding:30px;
  }

  h2 {
    text-align: center;
  }
}

@media screen and (min-width:1000px) {
  .pokemon-detail {
    display:flex;
    justify-content: space-around;
  }

  .pokedex {
    .pokedex-list{
       width:200px;
    }
  }
}