/* Define application-wide selectors here!*/

html {
	position: relative;
	height: 100%;
}

body {
  width: 80%;
  margin: 0 auto;
  font-family: $serif;
  font-size: 12px;
}

button {
	background-color: $light-blue;
	border-color: 1px solid $darkest-blue;
	color: $lightest-gray;
	font-weight: 700;
	padding: 6px 10px 6px 10px;
	border-radius: 3px;
	transition: 0.3s;
	font-family: $sans-serif;
	text-transform: uppercase;
  font-size: 16px;
	text-align: center;
}

button:hover {
	background-color: $dark-blue;
	border-color: 1px solid $darkest-blue;
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}
